@font-face {
  font-family: "Linden Hill";
  src: url("../vendor/fonts/linden-hill/LindenHill-Regular.woff2") format("woff2");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "Linden Hill";
  src: url("../vendor/fonts/linden-hill/LindenHill-Italic.woff2") format("woff2");
  font-style: italic;
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "Jost";
  src: url("../vendor/fonts/jost/Jost-VF.woff2") format("woff2");
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
}

@font-face {
  font-family: "EB Garamond Initials F1";
  src: url("../vendor/fonts/eb-garamond-initials/EBGaramond-InitialsF1-LatinCaps.woff2") format("woff2");
  font-style: normal;
  font-weight: 400;
  font-display: block;
  unicode-range: U+0041-005A;
}

@font-face {
  font-family: "EB Garamond Initials F2";
  src: url("../vendor/fonts/eb-garamond-initials/EBGaramond-InitialsF2-LatinCaps.woff2") format("woff2");
  font-style: normal;
  font-weight: 400;
  font-display: block;
  unicode-range: U+0041-005A;
}

body {
  font-family: "Linden Hill", Palatino, serif;
}

code {
  font-family: "Lucida Console", Monaco, monospace;
  font-size: 85%;
}

.menu,
.meta-line,
footer {
  font-family: "Jost", Optima, Candara, sans-serif;
}

.katex {
  font-size: 1.1em;
}
