{{- $isArticle := and .IsPage (eq .Section "blog") -}}

{{- if $isArticle -}}
{{- $hasArticleCode := in .Content `class="highlight"` -}}
{{- $hasArticleToc := .Scratch.Get "has_toc" -}}
{{- $hasArticleMath := .Page.Store.Get "hasMath" -}}
{{- $hasArticleReferences := or (in .Content `data-statement=`) (in .Content `data-equation-ref=`) -}}
{{- $hasArticleSidenotes := in .Content `class="sidenote"` -}}
{{- $hasArticleFocusMedia := .Page.Store.Get "articleHasFocusMedia" -}}
{{- if or $hasArticleCode $hasArticleToc $hasArticleMath $hasArticleReferences $hasArticleSidenotes $hasArticleFocusMedia }}
<script src="{{ partialCached "js-asset-url.html" "js/article.js" "js/article.js" }}" defer></script>
{{- end }}
{{- end -}}

{{- if .IsHome -}}
<script src="{{ partialCached "js-asset-url.html" "js/home-readout.js" "js/home-readout.js" }}" defer></script>
{{- end -}}

{{- if .Page.Store.Get "hasFieldPlate" -}}
<script src="{{ partialCached "js-asset-url.html" "js/field-plate.js" "js/field-plate.js" }}" defer></script>
{{- end -}}

{{- partial "foot_extra.html" . -}}
