{{- $noop := .WordCount -}}
{{- $hasMath := .Page.Store.Get "hasMath" -}}
{{- if and (not $hasMath) (and .IsNode (eq .Section "blog")) -}}
  {{- range .RegularPages -}}
    {{- $summary := string .Summary -}}
    {{- if or (in $summary `class="katex"`) (in $summary `<math`) -}}
      {{- $hasMath = true -}}
    {{- end -}}
  {{- end -}}
{{- end -}}
{{- $hasDropcap := .Page.Store.Get "hasDropcap" -}}
{{- if $hasDropcap }}
<link rel="preload" href="{{ "vendor/fonts/eb-garamond-initials/EBGaramond-InitialsF1-LatinCaps.woff2" | relURL }}" as="font" type="font/woff2" crossorigin>
<link rel="preload" href="{{ "vendor/fonts/eb-garamond-initials/EBGaramond-InitialsF2-LatinCaps.woff2" | relURL }}" as="font" type="font/woff2" crossorigin>
{{- end }}
{{- if $hasMath }}
<link rel="stylesheet" href="{{ "vendor/katex/0.17.0/katex.min.css" | relURL }}">
<link rel="preload" href="{{ "vendor/asana-math/000.962/Asana-Math.woff2" | relURL }}" as="font" type="font/woff2" crossorigin>
<link rel="stylesheet" href="{{ printf "%s?v=asana-000962-5" ("css/math.css" | relURL) }}">
{{- end }}
{{ if and .IsPage (eq .Section "blog") }}
<link rel="stylesheet" href="{{ printf "%s?v=lokta-field-note-8" ("css/article.css" | relURL) }}">
{{ end }}
